.gitattributes      text
COPYING             text
*.c                 text
*.cpp               text
*.h                 text
*.h.in              text
*.hpp               text
*.md                text
*.rc                text
*.txt               text
hooked_functions.x  text
