.gitattributes      text
.gitignore          text
COPYING             text
Doxyfile.in         text
README.1st          text
*.c                 text
*.cmake             text
*.cmake.in          text
*.cpp               text
*.css               text
*.dox               text
*.h                 text
*.h.in              text
*.hpp               text
*.html              text
*.md                text
*.m                 text
*.pc.in             text
*.rc                text
*.txt               text
hooked_functions.x  text
